<link rel="homeStyleSheet" href="home.component.css">
<!-- Need to clean this up make it better with Styles-->
<div class="welcomeBanner">
    <header>Welcome to Shoe Explorer</header>
</div>
<div class="introP">
    <p>This is Shoe Explorer where users will be able to see shoes from their favorite brands such as Nike, Adidas, and many more. We hope you enjoy our product as it recieves updates over time to improve your expeirence.</p>
    
    <p>Some of the things wou will be able to do is go to our shoe feed and see picture of shoes that have been released and sonn to be released. You can also See our shoe inventory where you can see shoes that are available.</p>
</div>