<link rel="homeStyleSheet" href="home.component.css">
<!-- Need to clean this up make it better with Styles-->
<div class="welcomeBanner">
    <header>Welcome to Shoe Explorer</header>
</div>
<div class="introP">
    <p>This is Shoe Explorer where users will be able to see shoes from their favorite brands such as Nike, Adidas, and many more.</p>
    
    <p>Some of the things wou will be able to do is go to our shoe feed and see what shoes are out. You can also add shoes to the feed in the Shoe Inventory tab.</p>
</div>